{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
    <h1>Classes</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>Classe : {{ class.nomClasse }}</td>
                <td><span>Professeur : </span>{{ prof.nomProfesseur }} {{ prof.prenomProfesseur }}</td>
            </tr>
        </tbody>
        
    </table>

    <table class="table">
        <tbody>
            <h2>Éleves</h2>
            {% for eleve in eleves %}
                <tr>
                
                    <td>{{ eleve.nomEleve }}
                    {{ eleve.prenomEleve }}</td>
                
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_classes_index') }}">back to list</a>

    <a href="{{ path('app_classes_edit', {'id': class.id}) }}">edit</a>

    {{ include('classes/_delete_form.html.twig') }}
{% endblock %}
